$white-text: rgba(255, 255, 255, 1);
$black-text: rgba(17, 21, 24, 1);
$light-black: rgba(61, 61, 61, 1);
$gray-text: rgba(185, 185, 185, 1);
$orange-text: rgba(255, 107, 9, 1);
$form-valid: rgb(0, 255, 0);
$form-invalid: rgb(255, 0, 0);
$background-color-garant: rgba(241, 241, 241, 1);
$background-mobile-menu: rgba(17, 21, 24, 0.9);
$cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration-time: 250ms;

$font-weight500: 500;
$font-weight600: 600;
$font-weight700: 700;
$font-weight800: 800;

$FontSize58: 58px;
$FontSize46: 46px;
$FontSize30: 30px;
$FontSize26: 26px;
$FontSize20: 20px;
$FontSize18: 18px;
$FontSize16: 16px;
$FontSize14: 14px;
$FontSize12: 12px;
$FontSize8: 8px;

$LineHeight0-93: 0.93;
$LineHeight1-20: 1.2;
$LineHeight1-21: 1.21;
$LineHeight1-22: 1.22;
$LineHeight1-23: 1.23;
$LineHeight1-25: 1.25;
$LineHeight1-26: 1.26;
$LineHeight1-30: 1.3;
$LineHeight1-36: 1.36;
$LineHeight1-40: 1.4;
$LineHeight1-43: 1.43;
$LineHeight1-56: 1.56;
$LineHeight1-65: 1.65;
$LineHeight1-67: 1.67;
$LineHeight1-71: 1.71;
$LineHeight1-8: 1.8;
$LineHeight2-00: 2;

$LetterSpacing03: 0.03em;
$LetterSpacing04: 0.04em;
$LetterSpacing06: 0.06em;
$LetterSpacing08: 0.08em;
$LetterSpacing14: 0.14em;
$LetterSpacing18: 0.18em;

$phone: 480px;
$tablet: 768px;
$desktop: 1280px;
