.advantages {
    padding-top: 77px;

    @media (min-width: $tablet) {
        padding-top: 114px;
    }

    @media (min-width: $desktop) {
        padding-top: 107px;
        padding-bottom: 130px;
    }
}

.list {
    display: flex;
    flex-direction: column;

    padding-left: 52px;
    padding-right: 52px;

    @media (min-width: $tablet) {
        flex-direction: row;
    }

    @media (min-width: $desktop) {
        justify-content: space-evenly;
        padding-left: 0;
        padding-right: 0;
    }

}

.list__item {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: $font-weight700;
    letter-spacing: $LetterSpacing08;
    font-size: $FontSize14;

    @media (min-width: $tablet) {
    }

    @media (min-width: $desktop) {
        margin: 0;
        font-size: $FontSize20;
    }
    
}

.list__item:not(:last-child) {
    margin-bottom: 30px;

    @media (min-width: $tablet) {
        margin-bottom: 0;
    }

    @media (min-width: $desktop) {
    }
}

.list__text {
    margin: 0;
    position: absolute;
    left: 68px;
    @media (min-width: $desktop) {
        left: 80px;
    }
}

.list__item--female::before {
    content: "";
    background-image: url(/images/female.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 61px;
    height: 63px;

    @media (min-width: $desktop) {
        width: 100px;
        height: 102px;
    }
}

.list__item--lecturer::before {
    content: "";
    background-image: url(/images/lecturer.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 61px;
    height: 63px;

    @media (min-width: $desktop) {
        width: 100px;
        height: 102px;
    }
}

.list__item--insurance::before {
    content: "";
    background-image: url(/images/insurance.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 61px;
    height: 63px;

    @media (min-width: $desktop) {
        width: 100px;
        height: 102px;
    }
}