.guarantees {
  padding-top: 50px;

  &__title {
    margin: 0;
    text-align: center;
    font-weight: $font-weight800;
    font-size: $FontSize26;
    line-height: $LineHeight1-30;
    letter-spacing: $LetterSpacing04;
    @media (min-width: $desktop) {
      font-size: $FontSize46;
      letter-spacing: $LetterSpacing03;
    }
  }

  &__container {
    margin-top: 30px;
    @media screen and (max-width: 767px) {
      padding: 0px;
    }
  }

  &__list {
    min-width: 320px;
    background-color: $background-color-garant;
    padding: 30px 20px 31px 27px;

    font-weight: $font-weight500;
    font-size: $FontSize12;
    line-height: $LineHeight1-67;
    letter-spacing: 0;

    @media (min-width: $tablet) {
      padding: 30px 50px 30px 86px;
      background-color: $background-color-garant;
    }

    @media (min-width: $desktop) {
      padding: 50px 112px 45px 123px;
      font-size: $FontSize20;
      line-height: $LineHeight1-40;
    }
  }

  &__item {
    padding-left: 28px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 5px;
      padding-bottom: 18px;
      border-left: 1px dashed $gray-text;

      @media (min-width: $tablet) {
        margin-bottom: 4px;
        padding-bottom: 16px;
      }

      @media (min-width: $desktop) {
        margin-bottom: 6px;
        padding-bottom: 14px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      transform: translatex(-50%);
      width: 15px;
      height: 25px;
      background-color: $background-color-garant;
      background-image: url(../images/fire2.svg);
      background-repeat: no-repeat;
      @media (min-width: $desktop) {
        width: 22px;
        height: 34px;
      }
    }
  }
  &__span {
    color: $orange-text;
  }
}
