header {
  position: relative;
  background-color: $white-text;
}
.header__navigation {
    // position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.header__list {
display: none;
@media screen and (min-width: $desktop){
    display: flex;
    justify-content: space-between;
    align-items:center;

    & :not(:last-of-type) {
      margin-right: 40px;
    }
}
}
.header__logo {
  padding-top: 31px;
  @media screen and (min-width: $tablet) {
  padding-top: 40px;
  }
  @media screen and (min-width: $desktop) {
  padding-top: 30px;
  margin-right: 144px;
  }
}

.header__link {
display: inline-flex;
align-items: center;
text-align: center;
text-transform: uppercase;
font-weight: $font-weight700;
font-size: $FontSize14;
line-height: $LineHeight1-21;
letter-spacing: $LetterSpacing03;
color: $gray-text;
padding-top: 57px;
margin-right: 154px;
@media screen and (min-width: $desktop) {
  margin-right: 0px;
  padding-top: 30px;
@include transitionColor();
&:hover,
&:focus {
color: $orange-text;
transition: transform 250ms $cubic-function,
opacity 250ms $cubic-function;
}
}
}

.header__link--current {
  color: $orange-text;
  transition: transform 250ms $cubic-function,
  opacity 250ms $cubic-function;

}

.header__button {
display: none;
@media screen and (min-width: $tablet) {
  @include buttonMain ();
font-weight: $font-weight700;
font-size: $FontSize12;
line-height: $LineHeight1-25;
letter-spacing: $LetterSpacing08;
color: $orange-text;
background-color: inherit;
width: 260px;
height: 48px;
border: 2px solid $orange-text;
padding: 0;
margin-top: 38px;
margin-right: 61px;
 &:hover,
 &:focus {
   color: $white-text;
   background-color: $orange-text;
 }
}
@media screen and (min-width: $desktop){
font-size: $FontSize14;
line-height: $LineHeight1-21;
letter-spacing: $LetterSpacing14;
width: 336px;
height: 70px;
margin-top: 30px;
margin-right: 0;
}
}
