header {
  position: relative;
  background-color: $white-text;
}
.header__navigation {
    // position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.header__list {
display: none;
@media screen and (min-width: $desktop){
    display: flex;
    justify-content: space-between;
    align-items:center;

    & :not(:last-of-type) {
      margin-right: 40px;
    }
}
}
.header__logo {
  padding-top: 31px;
  @media screen and (min-width: $tablet) {
  padding-top: 40px;
  }
  @media screen and (min-width: $desktop) {
  padding-top: 30px;
  margin-right: 144px;
  }
}

.header__link {
    display: inline-flex;
    padding-top: 57px;
    margin-right: 154px;
    @media screen and (min-width: $desktop) {
      margin-right: 0px;
      padding-top: 30px;
    }
}

.header__button {
display: none;
@media screen and (min-width: $tablet) {
 display: inline-flex;
 justify-content: center;
 text-align: center;
 align-items: center;
 font-weight: $font-weight700;
 font-size: $FontSize12;
 line-height: $LineHeight1-25;
 letter-spacing: $LetterSpacing08;
 text-transform: uppercase;
 border: $orange-text;
 outline: none;
 cursor: pointer;
 transition-property: background-color, border, color;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 color: $orange-text;
 background-color: inherit;
 width: 260px;
 height: 48px;
 border: 2px solid $orange-text;
 padding: 0;
 margin-top: 38px;
 margin-right: 61px;
}
@media screen and (min-width: $desktop){
font-size: $FontSize14;
line-height: $LineHeight1-21;
letter-spacing: $LetterSpacing14;
width: 336px;
height: 70px;
margin-top: 30px;
margin-right: 0;
}
}

