header {
  position: relative;
  background-color: $white-text;
}
.header__navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header__menu {
    display: flex;
}

.header__list {
display: none;
@media screen and (min-width: $desktop){
    display: flex;
}
}

.header__logo {
  padding-top: 31px;
  @media screen and (min-width: $desktop) {
  padding-top: 42px;
  }
}

.header__link {
    display: inline-flex;
    padding-top: 57px;
}

.header__button {
display: none;
@media screen and (min-width: $tablet) {
 display: inline-flex;
 justify-content: center;
 text-align: center;
 align-items: center;
 font-weight: $font-weight700;
 font-size: $FontSize14;
 line-height: $LineHeight1-21;
 letter-spacing: $LetterSpacing14;
 text-transform: uppercase;
 border: $orange-text;
 outline: none;
 cursor: pointer;
 transition-property: background-color, border, color;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 color: $orange-text;
 background-color: inherit;
 width: 336px;
 height: 70px;
border: 2px solid $orange-text;
padding: 0;
}
@media screen and (min-width: $tablet){
margin-top: 30px;
margin-right: 65px;
}
}
// mabail menu
.menu-container--mobile {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: $black-text;
  transform: translateX(100%);
}

.menu-container.is-open {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 2.9em 2em;
  overflow: auto;
  transform: translateX(0);

  @media (min-width: $phone) {
    padding: 48px 40px;
  }
}
.mobile__menu {
  display: flex;
  overflow-y: scroll;
}

.menu-toggle {
  position: absolute;
  right: 20px;
  top: 38px;
  outline: none;
  border: none;
  background-color: inherit;
  border-bottom: none;
  cursor: pointer;

  @extend%transitionFill;
  ;

  & :hover {
    fill: $orange-text;
  }

  &:focus-within {
    fill: $orange-text;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.heder__icon--open {
  display: flex;
  width: 20.5px;
  height: 12px;
  fill: $black-text;
  @extend %transitionFill;

  & :hover {
    fill: $orange-text;
  }

  &:focus-within {
    fill: $orange-text;
  }
}

.heder__icon--close {
  display: flex;
  left: 27.5%;
  right: 25.83%;
  top: 27.5%;
  bottom: 25.83%;
  width: 14.5px;
  height: 14.5px;
  fill: $white-text;
  @extend %transitionFill;

  & :hover {
    fill: $orange-text;
  }

  &:focus-within {
    fill: $orange-text;
  }
}