.hero {
    position: relative;
    height: 618px;
    padding-top: 50px;

    background-image: url(/images/wave.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media (min-width: $tablet) {
        padding-top: 72px;
        height: 557px;
    }

    @media (min-width: $desktop) {
        padding-top: 84px;
        height: 887px;
    }
}

.hero__title {
    margin: 0;
    margin-bottom: 30px;

    font-weight: $font-weight800;
    font-size: $FontSize20;
    line-height: 27px;
    letter-spacing: $LetterSpacing03;

    @media(min-width: $tablet) {
        font-size: $FontSize26;
        line-height: 34px;
        width: 332px;
    }

    @media(min-width: $desktop) {
        width: 642px;
        padding-top: 41px;
    }
}

.hero__text {
    margin: 0;

    font-weight: $font-weight500;
    font-size: $FontSize14;
    line-height: 22px;
    letter-spacing: $LetterSpacing08;

    &--light {
        color: $gray-text;
    }

    &--dark {
        color: $black-text;
        font-weight: bold;
    }
    
    &--orange {
        color: $orange-text;
        font-weight: bold;
    }

    @media(min-width: $desktop) {
        font-size: $FontSize20;
        line-height: 33px;
    }
}

.hero__button {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 260px;
    height: 48px;

    
    color: $white-text;
    background-color: $orange-text;
    border: none;

    font-weight: $font-weight700;
    font-size: $FontSize12;
    letter-spacing: $LetterSpacing08;
    text-transform: uppercase;

    cursor: pointer;

    @media(min-width: $desktop) {
        width: 354px;
        height: 70px;
        font-size: $FontSize14;
        letter-spacing: $LetterSpacing14;
    }

    &:hover,
    &:focus {
        color: $orange-text;
        border: 2px solid $orange-text;
        background-color: white;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content:space-between;
      align-items: flex-start;

    }
} 

.hero__img--container {
 position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  

  min-width: 208px;
  height: 177px ;
  overflow: visible;
  background-color: none;
    
    background-image: url(/images/bg_hero_desktopt.png);
   
    background-size: 208px 149px;
    background-position: top 38px, center;
    background-repeat: 
    no-repeat;
     @media screen and (min-width: $tablet){
     
     min-width: 376px;
     height: 320px;
     background-size: 376px 269px;
     background-position: top 17px,
     center;
     }
   
     @media screen and (min-width: $desktop){
      min-width: 841px;
      height: 718px;
      background-size: 841px 602px;
      background-position: top 38px,
       center;
     }

}

.hero__img--container>img {
  display: block; 
  position: absolute;
  min-width: 177.5px;
  height: 177.5px;

 top: -9.5px;
 left: 21px;
 @media screen and (min-width: $tablet){
    min-width: 321px;
    height: 321px;

    top: -17px;
    left: 36px;
 }

  @media screen and (min-width: $desktop){
     top: -38px;
     left: 81px;
     min-width: 719px;
     height: 718px;
  }


}

