.hero {
    padding-top: 50px;
    background-image: url(/images/wave.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hero__title {
    margin: 0;
    margin-bottom: 30px;

    font-weight: $font-weight800;
    font-size: $FontSize20;
    line-height: 27px;
    letter-spacing: $LetterSpacing03;

    @media(min-width: $tablet) {
        font-size: $FontSize26;
        line-height: 34px;
    }
}

.hero__text {
    margin: 0;

    font-weight: $font-weight500;
    font-size: $FontSize14;
    line-height: 22px;
    letter-spacing: $LetterSpacing08;

    &--light {
        color: $gray-text;
    }

    &--dark {
        color: $black-text;
        font-weight: bold;
    }
    
    &--orange {
        color: $orange-text;
        font-weight: bold;
    }

    @media(min-width: $desktop) {
        font-size: $FontSize20;
        line-height: 33px;
    }
}

.hero__button {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 260px;
    height: 48px;

    
    color: $white-text;
    background-color: $orange-text;
    border: none;

    font-weight: $font-weight700;
    font-size: $FontSize12;
    letter-spacing: $LetterSpacing08;
    text-transform: uppercase;

    cursor: pointer;

    @media(min-width: $desktop) {
        width: 354px;
        height: 70px;
        font-size: $FontSize14;
        letter-spacing: $LetterSpacing14;
    }

    &:hover,
    &:focus {
        color: $orange-text;
        border: 2px solid $orange-text;
        background-color: white;
    }
}