.problems {
  background-color: $background-mobile-menu;
  background-image: linear-gradient(to bottom, $background-mobile-menu 545px, $white-text 128px);
  border: none;

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(to bottom, $background-mobile-menu 340px, $white-text 256px);
    border: none;
  }

  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(to bottom, $background-mobile-menu 560px, $white-text 150px);
  }
}

.problems__container {
}

.problems__title {
  width: 280px;
  font-weight: $font-weight800;
  font-size: $FontSize20;
  line-height: $LineHeight1-36;
  color: $white-text;
  letter-spacing: $LetterSpacing03;

  // margin-top: 49.5px;
  // margin-bottom: 0px;
  // padding-top: 50px;

  @media screen and (min-width: $tablet) {
    width: 568px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 59.5px;
  }

  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding-top: 100px;
    padding-bottom: 70px;
    margin-left: 163px;
    margin-right: 163px;
  }
}

.problems_title--orange {
  color: $orange-text;
}

.problems__list {
  counter-reset: section;
  // width: 280px;

  list-style: none;
  counter-reset: problems__counter;
  display: flex;
  flex-direction: column;
  font-weight: $font-weight700;
  font-size: $FontSize14;
  line-height: $LineHeight1-71;
  letter-spacing: $LetterSpacing08;
  background-color: $white-text;

  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  margin-top: 27px;

  border: none;
  align-items: center;

  @media screen and (min-width: $tablet) {
    margin-top: 25px;
    width: 688px;
    height: 303px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    //   flex-basis: calc(100% / 2 - 30px);
  }
}

.problems__item::before {
  counter-increment: section;
  content: ' - 0' counter(section) ' ';

  font-weight: $font-weight700;
  font-size: $FontSize14;
  line-height: $LineHeight1-65;
  letter-spacing: $LetterSpacing08;
  color: $orange-text;

  @media screen and (min-width: $desktop) {
    font-size: $FontSize20;
  }
}

.problems__item {
  margin-left: 30px;
  width: 236px;
  margin-top: 10px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    // flex-basis: calc((100% - 44px) / 2);
    // margin-left: 22px;
    // margin-top: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 64px;
  }
}

.problems__item--text {
  margin-top: 5px;

  @media screen and (min-width: $desktop) {
    margin-top: 10px;
  }
}
