.problems {
  background-color: $background-mobile-menu;
  background-image: url(), linear-gradient(to bottom, $background-mobile-menu 545px, $white-text 128px)
  ;
  background-size: 445;
  
  border: none;

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(to bottom, $background-mobile-menu 340px, $white-text 256px), url(/images/fire_bg.svg);
    
    border: none;
  }

  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(to bottom, $background-mobile-menu 560px, $white-text 150px);
  }
}

.problems__container {
}

.problems__title {
  width: 280px;
  padding-top: 50px;
  font-weight: $font-weight800;
  font-size: $FontSize20;
  line-height: $LineHeight1-36;
  color: $white-text;
  letter-spacing: $LetterSpacing03;

  @media screen and (min-width: $tablet) {
    width: 568px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 59.5px;
  }

  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding-top: 100px;
    font-size: $FontSize46;
    line-height: $LineHeight1-30;
  }
}

.problems_title--orange {
  color: $orange-text;
}

.problems__list {
  // counter-reset: section;
  // width: 280px;

  list-style: none;
  // counter-reset: problems__counter;
  // display: flex;
  // flex-direction: column;
  font-weight: $font-weight700;
  font-size: $FontSize14;
  line-height: $LineHeight1-71;
  letter-spacing: $LetterSpacing08;

  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  margin-top: 27px;

  border: none;
  align-items: center;

  margin-top: 30px;
  padding: 20px 45px 20px 30px;
  list-style: none;
  background-color: $white-text;
  counter-reset: section;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop) {
    width: 1280px;
    height: 362px;
    margin-top: 70px;
    // margin-top: -1px;
    padding: 70px 112px 62px 114px;
    position: relative;
    top: -10px;
    left: 0px;
  }
}

.problems__item::before {
  counter-increment: section;
  content: ' - 0' counter(section) ' ';

  font-weight: $font-weight700;
  font-size: $FontSize14;
  line-height: $LineHeight1-65;
  letter-spacing: $LetterSpacing08;
  color: $orange-text;

  @media screen and (min-width: $desktop) {
    font-size: $FontSize20;
  }
}

.problems__item {
  min-width: 160px;
  margin-top: 10px;

  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 2 - 45px);
    margin-left: 45px;
    min-width: 200px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 3 - 40px);
    margin-left: 40px;
    margin-top: 20px;
    min-width: 200px;
  }

  // margin-left: 30px;
  // width: 236px;
  // margin-top: 10px;

  // @media screen and (min-width: $tablet) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   // flex-basis: calc((100% - 44px) / 2);
  //   // margin-left: 22px;
  //   // margin-top: 30px;
  // }

  // @media screen and (min-width: $desktop) {
  //   margin-top: 64px;
  // }
}

.problems__item--text {
  margin-top: 5px;

  @media screen and (min-width: $desktop) {
    margin-top: 10px;
  }
}
