<section class="about">
    <div class="container__about container">
        <article>
    <h2 class="about__title" >Преподаватель</h2>
    <div class="about__cart">
         <div class="about__img">
      <img srcset="./images/teacher1x.jpg, ./images/teacher2x.jpg 2x" 
      src="./images/teacher1x.jpg" alt="woman in black shirt"
        />
  </div>
    <div class="about__content">
    <h3 class="about__content--title">Елена Морева</h3>
        <ul class="about__content--list">
         
<li > <pre class="about__content--item">
<svg class="about__content--icon" width="24" height="20"><use href="./images/sprite.svg#icon-chek"></use></svg>Опыт подготовки учеников к ВНО - 6 лет</pre>
</li>
<li> <pre class="about__content--item">
<svg class="about__content--icon" width="24" height="20">
<use href="./images/sprite.svg#icon-chek"></use></svg>Собственный результат сдачи ВНО - 197 баллов 2 года подряд</pre> 
</li>
<li> <pre class="about__content--item">
<svg class="about__content--icon" width="24" height="20"><use href="./images/sprite.svg#icon-chek"></use></svg>Сдала на отлично международный аналог ВНО - 
Кембриджский PET (Preliminary English Test)</pre> 
</li>
      </ul>
         <svg class="svg-line" width="20" height="1" style="outline: 2px solid #FF6B09;">
         <line x1="20" y1="50" x2="380" y2="50" fill="#2a2a2a" stroke-width="" />
       </svg>
<pre class="about__content--text">Высшее образование получила в Институте международных 
отношений НАУ пo специальности переводчик-аналитик.</pre>
<pre class="about__content--text">В свободное время проходит курсы от лучших университетов 
мира по эффективному преподаванию и методикам написания 
сочинений.</pre>
<pre class="about__content--text">В числе пройденных: English Grammar and Essay Writing (Berkeley), 
English Grammar&Style (The University of Queesland), How to Write 
an Essay (Berkeley), Academic and Business Writing (Berkeley), The 
Art of Teaching (GEMS education), Powerful Tools for Teaching and
Learning (University of Houston).
</pre>
    

<a class="about__link" href=" #">Cambrige English Entry Level Certificate</a>
</div>
</div>
 
</article>
</div>
    
</section>