<section class="advantages">
    <div class="container">
        <h2 class="visually-hidden">Нащи преимущества</h2>

        <ul class="list">

            <li class="list__item list__item--female">
                <p class="list__text">Адаптированная авторская программа ВНО</p>
            </li>

            <li class="list__item list__item--lecturer">
                <p class="list__text">Современные методики обучения</p>
            </li>

            <li class="list__item list__item--insurance">
                <p class="list__text">Финансовая гарантия результата</p>
            </li>

        </ul>
    </div>
</section>