<section class="advantages">
    <div class="container">
        <h2 class="visually-hidden">Нащи преимущества</h2>

        <div class="grid">
            <ul class="pluses">

                <li class="pluses__item pluses__item--female">
                    <p class="pluses__text">Адаптированная авторская программа ВНО</p>
                </li>
    
                <li class="pluses__item pluses__item--lecturer">
                    <p class="pluses__text">Современные методики обучения</p>
                </li>
    
                <li class="pluses__item pluses__item--insurance">
                    <p class="pluses__text">Финансовая гарантия результата</p>
                </li>
    
            </ul>
        </div>
    </div>
</section>