<section class="advantages">
    <div class="container">
        <h2 class="visually-hidden">Нащи преимущества</h2>

        <ul class="list">

            <li class="list__item">
                <img class="list__image" src="./images/female.svg" alt="feemale">
                <p class="list__text">Адаптированная авторская программа ВНО</p>
            </li>

            <li class="list__item">
                <img class="list__image" src="./images/lecturer.svg" alt="lecturer">
                <p class="list__text">Современные методики обучения</p>
            </li>

            <li class="list__item">
                <img class="list__image" src="./images/insurance.svg" alt="insurance">
                <p class="list__text">Финансовая гарантия результата</p>
            </li>

        </ul>
    </div>
</section>