<section class="benefits">
    <div class="container">
        <h2 class="benefits__header">Почему нас выбирают</h2>

        <ol class="benefits__list">
            <li class="benefits-list__item">
                <p class="benefits-list__text">Обучение в малых командах</p>
            </li>

            <li class="benefits-list__item">
                <p class="benefits-list__text">Визуализированные конспекты</p>
            </li>

            <li class="benefits-list__item">
                <p class="benefits-list__text">Каждое занятие имеет цель и конкретный результат</p>
            </li>

            <li class="benefits-list__item">
                <p class="benefits-list__text">Реальные результаты преподавателя</p>
            </li>

            <li class="benefits-list__item">
                <p class="benefits-list__text">Прогамма курса соответствует требованиям МОН Украины</p>
            </li>

            <li class="benefits-list__item">
                <p class="benefits-list__text">Набор команд по уровням знаний</p>
            </li>
        </ol>
    </div>
</section>