<section class="contacts">
    <div class="container contacts__container">
        <h2 class="contacts__title">
            Регистрация на
            <span class="contacts__title contacts__title--orange">бесплатную</span>
            телефонную
            <span class="contacts__title contacts__title--orange">консультацию</span>
            по нюансам ЗНО по английскому языку
        </h2>
        <h3 class="contacts__subtitle">
            Оставь заявку на участие в
            <span class="contacts__subtitle contacts__subtitle--orange">бесплатном занятии</span>.
            С вами свяжется консультант и ответит на вопросы
        </h3>

        <form class="form">
            <p class="form__name">
                <input class="form__input" type="text" name="studia" required pattern="[A-Za-zА-Яа-яЁё]+"
                    title="Имя может содержать только буквы." id="my-name" placeholder="Имя*">
            </p>

            <p class="form__tel">
                <input class="form__input" type="tel" name="studia" required pattern="[0-9]{10,12}"
                    title="Формат: 38 000 000 00 00" id="my-tel" placeholder="Телефон*">
            </p>

            <button type="submit" class="form__button">хочу на бесплатное занятие</button>
        </form>
    </div>
</section>
</main>