<footer class="footer">
    <div class="container footer__container">
        <div class="footer__contact">
            <a class="footer__logo" href="">                
                <div class="footer__logo-name">
                    Hell
                <svg class="footer__logo-icon" width="22" height="30">
                    <use href="./images/sprite.svg#icon-fire"></use>
                </svg>
                <span class="footer__logo-text">en</span>
                </div>
                <p class="footer__logo-subtext">
                    <span class="footer__logo-text footer__logo-text--orange">Адский</span> английский
                </p>                
            </a>

            <a class="footer__tel" href="tel:+380000000000">
                <svg class="footer__tel-icon">
                    <use href="./images/sprite.svg#icon-phone"></use>
                </svg>+38 (000) 000 00 00
            </a>

            <a class="footer__social" target="_blank" href="https://www.instagram.com/">
            </a>
        </div>        
    </div>
    <div class="footer__protection">
        <div class="container">
            <p class="footer__protection-text">&#64; Все права защищены, 2019</p>
        </div>
    </div>
</footer>