 <header class="header">
   <!--navigation -->
   <!--conteiner 1-->
   <div class="header__navigation container">
     <nav class="header__menu">
       <!--Logo -->
       <div class="header__logo"> <a href="./index.html" class="header__logo--link"><span
             class="logo__title logo__title--letter">Hell</span><svg class="header__icon--logo"
           width="22" height="30">
           <use class="logo__icone" href="./images/sprite.svg#icon-fire"></use>
         </svg><span class="logo__title">EN</span> </a>
         <p class="logo__text"> <span class="logo__text--accent">Адский</span>  английский</p>
        </div>
      

       <!-- menu navigation -->
       <ul class="header__list list">
         <li> <a href="#" class="header__link ">Программы обучения</a></li>
         <li> <a href="#" class="header__link header__link--current">О нас</a></li>
         <li> <a href="#" class="header__link">Варианты обучения</a></li>
         <li> <a href="#" class="header__link">Контакты</a></li>
       </ul>
     </nav>
     <!--contacts  -->
      <button class="header__button">Консультация по телефону</button>
     <!--mobal-menu -->
     <button type="button" class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
       <svg class="heder__icon--open" aria-label="mobile menu open" width="20.5" height="12">
         <use class="icone__menu" href="./images/sprite.svg#icon-menu"></use>
       </svg>
     </button>

   </div>
   <!--conteiner-->
 </header>



