<section class="hero">

  <div class="container">

    <h1 class="hero__title">Комплексная подготовка к ВНО по английскому языку</h1>

    <p class="hero__text hero__text--light">Просто не будет.</p>
    <p class="hero__text hero__text--dark">Но ты гарантировано наберешь</p>
    <p class="hero__text hero__text--orange">+25 баллов</p>

    <button class="hero__button" type="button">хочу на бесплатное занятие</button>

<!--Image mobile-->
    <div class="image__mobile">

      <img class="image_mobile--bg" 
      src="./images/bg_hero_mobile.png"
      srcset="./images/bg_hero_mobile.png 1x,
      ./images/bg_hero_mobile@2x.png 2x" alt="photo background">

      <img class="image_mobile--main" 
      src="./images/hero_mobile.png"
      srcset="./images/hero_mobile.png 1x,
      ./images/hero_mobile@2x.png 2x" alt="photo people studying">

    </div>

<!--Image tablet-->
    <div class="image_tablet">

      <img class="image_tablet--bg" 
      src="./images/bg_hero_tablet.png"
      srcset="./images/bg_hero_tablet.png 1x,
      ./images/bg_hero_tablet@2x.png 2x" alt="photo background">

      <img class="image_tablet--main" 
      src="./images/hero_tablet.png"
      srcset="./images/hero_tablet.png 1x,
      ./images/hero_tablet@2x.png 2x" alt="photo people studying">

    </div>

<!--Image mobile-->
    <div class="image_desktop">

      <img class="image_desktop--bg" 
      src="./images/bg_hero_desktopt.png"
      srcset="./images/bg_hero_desktopt.png 1x,
      ./images/bg_hero_desktopt@2x.png 2x" alt="photo background">

      <img class="image_desktop--main" 
      src="./images/hero_desktopt.png" 
      srcset="./images/hero_desktopt.png 1x,
      ./images/hero_desktopt@2x.png 2x" alt="photo people studying">
    </div>

  </div>
</section>
