
<div class="menu-container menu-container--mobile  js-menu-container" id="mobile-menu">
    <button type="button" class="menu-toggle js-close-menu">
      <svg class="heder__icon--close" aria-label="mobile menu close" width="18.65" height="18.65">
        <use class="icone__cross" href="./images/sprite.svg#icon-close"></use>
      </svg></button>
    <div class="mobile__menu">
        <div class="header__logo"> <a href="./index.html" class="header__logo--link">Hell<svg class="heder__icon--logo"
              width="40" height="40">
              <use class="logo__icone" href="#"></use>
            </svg>EN</a>
          <p> Адский английский</p>
        </div>
      <ul class="mobile__list">
        <li> <a href="#" class="mobile___link ">Программы обучения</a></li>
        <li> <a href="#" class="mobile___link mobile___link--current">О нас</a></li>
        <li> <a href="#" class="mobile___link">Варианты обучения</a></li>
        <li> <a href="#" class="mobile___link">Контакты</a></li>
      </ul>
  </div>


<!--Hero section-->

<section class="hero">

  <div class="hero__container container">

    <h1 class="hero__title">Комплексная подготовка к ВНО по английскому языку</h1>

    <p class="hero__text hero__text--light">Просто не будет.</p>
    <p class="hero__text hero__text--dark">Но ты гарантировано наберешь</p>
    <p class="hero__text hero__text--orange">+25 баллов</p>

    <button class="hero__button" type="button">хочу на бесплатное занятие</button>
    
  </div>
</section>