<section class="program">
    <div class="container">
        <h2 class="program__header">Наша программа</h2>

        <ul class="program__list">
            <div class="border-left"></div>
            <li class="program-list__item">
                <ul class="program-list__sublist">
                    <li class="program-sublist__item">
                        <h3 class="program-sublist__header"> Grammar</h3>
                        <p class="program-sublist__text">Nouns & Articles <br> Adjectives & Adverb</p>
                    </li>

                    <li class="program-sublist__item">
                        <h3 class="program-sublist__header"> Vocabulary</h3>
                        <p class="program-sublist__text">Family & Relations <br> People & Society</p>
                    </li>
                </ul>
            </li>

            <li class="program-list__item">
                <ul class="program-list__sublist">
                    <li class="program-sublist__item">
                        <h3 class="program-sublist__header"> Grammar</h3>
                        <p class="program-sublist__text">Pronouns Active <br> Voice <br> Passive Voice</p>
                    </li>

                    <li class="program-sublist__item">
                        <h3 class="program-sublist__header"> Vocabulary</h3>
                        <p class="program-sublist__text">Home<br>
                            School<br>
                            Work</p>
                    </li>
                </ul>
            </li>

            <li class="program-list__item">
                <ul class="program-list__sublist">
                    <li class="program-sublist__item">
                        <h3 class="program-sublist__header"> Grammar</h3>
                        <p class="program-sublist__text">Modal verbs <br>
                            Infinitive <br>
                            Gerund <br>
                            Participle: 1, 2</p>
                    </li>

                    <li class="program-sublist__item">
                        <h3 class="program-sublist__header"> Vocabulary</h3>
                        <p class="program-sublist__text">Travel & Tourism <br> Culture & Free <br> Time Sport</p>
                    </li>

                    <li class="program-sublist__item">
                        <h3 class="program-sublist__header"> Writing</h3>
                        <p class="program-sublist__text">Informal Letter</p>
                    </li>
                </ul>
            </li>

            <li class="program-list__item">
                <ul class="program-list__sublist">
                    <li class="program-sublist__item">
                        <h3 class="program-sublist__header"> Grammar</h3>
                        <p class="program-sublist__text">Clauses: Conditional and Wishes <br>
                            Direct / Reported speech <br>
                            Preposition <br>
                            Conjunction <br>
                            Numeral
                        </p>
                    </li>

                    <li class="program-sublist__item">
                        <h3 class="program-sublist__header"> Vocabulary</h3>
                        <p class="program-sublist__text">Healthy Living <br>
                            Nature & Environment <br>
                            Money
                        </p>
                    </li>

                    <li class="program-sublist__item">
                        <h3 class="program-sublist__header"> Writing</h3>
                        <p class="program-sublist__text">Formal Letter</p>
                    </li>
                </ul>
            </li>

            <li class="program-list__item">
                <ul class="program-list__sublist">
                    <li class="program-sublist__item">
                        <h3 class="program-sublist__header"> </h3>
                        <p class="program-sublist__text">Revision <br>
                            Tests
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>