<section class="reviews">
    <div class="reviews__container container">
        <h2 class="reviews__title">Отзывы выпускников</h2>
        <article class="review">
            <div class="review__left-part">
                <img class="review__img"
                    srcset="./images/reviews/Ellipsemain.jpg 1x, ./images/reviews/Ellipsemain2.jpg 2x"
                    src="./images/reviews/Ellipsemain.jpg" alt="Девушка">
                <svg class="review__icon" width="30" height="30">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
            </div>

            <div class="review__right-part">
                <h3 class="review__name">Тоня Кучеровская</h3>
                <p class="review__study">Выпуск 2015-го года, Національний університет <br> біоресурсів
                    і природокористування України</p>
                <p class="review__description"> За короткий час занять з Оленою я опанувала граматику і поповнила свій
                    зовсім пустий словниковий запас. З першого ж
                    заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді
                    хвилювала моя
                    успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити
                    найменшу
                    помилку. Зараз
                    я можу похизуватись тим, що я студен ...
                    <a href="#" class="review__link">Читать дальше</a>
                </p>
            </div>
        </article>
        <ul class="reviewers">
            <li class="reviewers__item">
                <a href="#" class="reviewers__link">
                    <img class="reviewers__img"
                    srcset="./images/reviews/Ellipse1.jpg 1x, ./images/reviews/Ellipse12.jpg 2x"
                    src="./images/reviews/Ellipse1.jpg" alt="Девушка">
                </a>
            </li>
            <li class="reviewers__item">
                <a href="#" class="reviewers__link">
                    <img class="reviewers__img"
                    srcset="./images/reviews/Ellipse2.jpg 1x, ./images/reviews/Ellipse22.jpg 2x"
                    src="./images/reviews/Ellipse2.jpg" alt="Девушка">
                </a>
            </li>
            <li class="reviewers__item">
                <a href="#" class="reviewers__link">
                 <img class="reviewers__img"
                    srcset="./images/reviews/Ellipse3.jpg 1x, ./images/reviews/Ellipse32.jpg 2x"
                    src="./images/reviews/Ellipse3.jpg" alt="Девушка">
                </a>
            </li>
            <li class="reviewers__item">
                <a href="#" class="reviewers__link">
                    <img class="reviewers__img"
                    srcset="./images/reviews/Ellipse4.jpg 1x, ./images/reviews/Ellipse42.jpg 2x"
                    src="./images/reviews/Ellipse4.jpg" alt="Девушка">
                </a>
            </li>
            <li class="reviewers__item">
                <a href="#" class="reviewers__link">
                    <img class="reviewers__img"
                    srcset="./images/reviews/Ellipse5.jpg 1x, ./images/reviews/Ellipse52.jpg 2x"
                    src="./images/reviews/Ellipse5.jpg" alt="Девушка">
                </a>
            </li>
            <li class="reviewers__item">
                <a href="#" class="reviewers__link">
                    <img class="reviewers__img"
                    srcset="./images/reviews/Ellipse6.jpg 1x, ./images/reviews/Ellipse62.jpg 2x"
                    src="./images/reviews/Ellipse6.jpg" alt="Девушка">
                </a>
            </li>
            <li class="reviewers__item">
                <a href="#" class="reviewers__link">
                    <img class="reviewers__img"
                    srcset="./images/reviews/Ellipse7.jpg 1x, ./images/reviews/Ellipse72.jpg 2x"
                    src="./images/reviews/Ellipse7.jpg" alt="Девушка">
                </a>
            </li>
        </ul>
        <button type="button" class="reviews__button reviews__button--left">
            <svg class="review__arrow" width="25" height="15">
                <use href="./images/sprite.svg#icon-Arrow_1"></use>
            </svg>
        </button>
        <button type="button" class="reviews__button reviews__button--right">
            <svg class="review__arrow" width="25" height="15">
                <use href="./images/sprite.svg#icon-Arrow_2"></use>
            </svg>
        </button>
    </div>
</section>